{% extends "base.html" %}

{% block content %}
<div class="p-4 bg-white block sm:flex items-center justify-between border-b border-gray-200 lg:mt-1.5">
    <div class="mb-1 w-full">
        <div class="mb-4">
            {% include "./includes/breadcrumb.html" %}
            <h1 class="text-xl sm:text-2xl font-semibold text-gray-900">Gerenciar Permissões</h1>
        </div>
    </div>
</div>

<h2>Grupos</h2>
<ul>
    {% for grupo in grupos %}
        <li>
            {{ grupo.name }}
            <form method="post" action="{% url 'configurar_permissao' %}">
                {% csrf_token %}
                <input type="hidden" name="grupo_id" value="{{ grupo.id }}">
                <button type="submit">Editar Permissões</button>
            </form>
        </li>
    {% endfor %}
</ul>

<h2>Permissões Disponíveis</h2>
<ul>
    {% for permissao in permissoes %}
        <li>{{ permissao.name }}</li>
    {% endfor %}
</ul>

{% endblock %}