{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="p-4 bg-white block sm:flex items-center justify-between border-b border-gray-200 lg:mt-1.5">
    <div class="mb-1 w-full">
      <div class="mb-4">
      </div>
      <div class="sm:flex">
        {% include "./includes/search.html" %}
        <div class="flex items-center space-x-2 sm:space-x-3 ml-auto">
          <a href="{% url 'tarefas:create_column' %}" data-modal-toggle="add-user-modal" class="w-1/2 text-white bg-cyan-600 hover:bg-cyan-700 focus:ring-4 focus:ring-cyan-200 font-medium inline-flex items-center justify-center rounded-lg text-sm px-3 py-2 text-center sm:w-auto">
            <svg class="-ml-1 mr-2 h-6 w-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path></svg>
            Nova Coluna
          </a> 
          <a href="" class="w-1/2 text-gray-900 bg-white border border-gray-300 hover:bg-gray-100 focus:ring-4 focus:ring-cyan-200 font-medium inline-flex items-center justify-center rounded-lg text-sm px-3 py-2 text-center sm:w-auto">
            <svg class="-ml-1 mr-2 h-6 w-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 2a2 2 0 00-2 2v12a2 2 0 002 2h8a2 2 0 002-2V7.414A2 2 0 0015.414 6L12 2.586A2 2 0 0010.586 2H6zm5 6a1 1 0 10-2 0v3.586l-1.293-1.293a1 1 0 10-1.414 1.414l3 3a1 1 0 001.414 0l3-3a1 1 0 00-1.414-1.414L11 11.586V8z" clip-rule="evenodd"></path></svg>
            Exportar
          </a>
        </div>
      </div>
    </div>
  </div>
<!-- Kanban Board -->
<div class="kanban">
  {% for column in columns %}
  <div class="kanban-column" data-column-id="{{ column.id }}">
      <div class="kanban-title">
          <h2>{{ column.title }}</h2>
          <button class="add-card-btn" data-column-id="{{ column.id }}">+</button>
      </div>
      <div class="kanban-cards" data-column-id="{{ column.id }}">
          {% if column.cards.count == 0 %}
          <!-- Placeholder para colunas vazias -->
          <div class="kanban-placeholder">Arraste um cartão para cá</div>
          {% else %}
          {% for card in column.cards.all %}
          <div class="kanban-card" draggable="true" data-id="{{ card.id }}">
              <div class="badge {{ card.priority|lower }}">{{ card.priority }}</div>
              <p>{{ card.content }}</p>
              <div class="card-infos">
                  <div class="kanban-card-footer">
                      {% if card.user and card.user.profile_image %}
                      <img src="{{ card.user.profile_image.url }}" alt="Avatar">
                      {% else %}
                      <img src="{% static 'tarefas/images/default-avatar.png' %}" alt="Default Avatar">
                      {% endif %}
                  </div>
              </div>
          </div>
          {% endfor %}
          {% endif %}
      </div>
  </div>
  {% endfor %}
</div>

<div id="floatingWindow" class="floating-window hidden-kanban">
  <form id="floatingForm">
      <h3 id="floatingFormTitle">Criar/Editar Card</h3>
      <input type="hidden" id="floatingColumnId" />
      <input type="hidden" id="floatingCardId" />

      <label for="floatingTitle">Título:</label>
      <input type="text" id="floatingTitle" placeholder="Digite o título" required />

      <label for="floatingDescription">Descrição:</label>
      <textarea id="floatingDescription" placeholder="Digite a descrição" required></textarea>

      <label for="floatingAttachment">Anexo (opcional):</label>
      <input type="text" id="floatingAttachment" placeholder="Link do anexo" />

      <label for="floatingPriority">Prioridade:</label>
      <select id="floatingPriority" required>
          <option value="Alta">Alta</option>
          <option value="Média">Média</option>
          <option value="Baixa">Baixa</option>
      </select>

      <div class="floating-actions">
          <button type="submit" class="btn-save">Salvar</button>
          <button type="button" id="closeFloatingWindow" class="btn-cancel">Cancelar</button>
      </div>
  </form>
</div>



{% endblock %}

{% block extra_js %}
<!-- JavaScript -->
<script src="{% static 'tarefas/js/kanban.js' %}"></script>
{% endblock %}
