{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
  <h1>Fórmulas</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for formula in formulas %}
      <tr>
        <td>{{ formula.id }}</td>
        <td>{{ formula.nome }}</td>
        <td>
          <a href="{% url 'manipulacao:manipular_formula' formula.id %}" class="btn btn-success">Manipular Novamente</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
