<!-- notas_fiscais/templates/notas_fiscais/nfe/nfe_form.html -->

{% extends "base.html" %}

{% block content %}
<div class="p-4 bg-white block sm:flex items-center justify-between border-b border-gray-200 lg:mt-1.5">
    <div class="mb-1 w-full">
        <div class="mb-4">
            {% include "./includes/breadcrumb.html" %}
            <h1 class="text-xl sm:text-2xl font-semibold text-gray-900">Compras</h1>
        </div>
    </div>
</div>

<form method="post">
    {% csrf_token %}
    <label for="pedido_id">Pedido ID:</label>
    <input type="text" name="pedido_id" required>
    <button type="submit">Emitir NFE</button>
</form>

{% endblock %}

