{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
  <h1>Configurações</h1>
  <p>Gerencie os cadastros gerais para a manipulação.</p>
  <ul class="list-group">
    <li class="list-group-item"><a href="#">Cadastro de Produtos</a></li>
    <li class="list-group-item"><a href="#">Cadastro de Textos para Rótulos</a></li>
    <li class="list-group-item"><a href="#">Cadastro de Cápsulas</a></li>
    <li class="list-group-item"><a href="#">Cadastro de Frascos</a></li>
  </ul>
</div>
{% endblock %}
